# Import Libraries

In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from geopy.distance import geodesic

# Load Dataset

In [2]:
# Read the CSV files and store them in variables
data2208 = pd.read_csv("C:/Users/Administrator/Desktop/Data Science Project/cyclistic-bike-share/data/raw/202208-divvy-tripdata.csv")
data2209 = pd.read_csv("C:/Users/Administrator/Desktop/Data Science Project/cyclistic-bike-share/data/raw/202209-divvy-tripdata.csv")
data2210 = pd.read_csv("C:/Users/Administrator/Desktop/Data Science Project/cyclistic-bike-share/data/raw/202210-divvy-tripdata.csv")
data2211 = pd.read_csv("C:/Users/Administrator/Desktop/Data Science Project/cyclistic-bike-share/data/raw/202211-divvy-tripdata.csv")
data2212 = pd.read_csv("C:/Users/Administrator/Desktop/Data Science Project/cyclistic-bike-share/data/raw/202212-divvy-tripdata.csv")
data2301 = pd.read_csv("C:/Users/Administrator/Desktop/Data Science Project/cyclistic-bike-share/data/raw/202301-divvy-tripdata.csv")
data2302 = pd.read_csv("C:/Users/Administrator/Desktop/Data Science Project/cyclistic-bike-share/data/raw/202302-divvy-tripdata.csv")
data2303 = pd.read_csv("C:/Users/Administrator/Desktop/Data Science Project/cyclistic-bike-share/data/raw/202303-divvy-tripdata.csv")
data2304 = pd.read_csv("C:/Users/Administrator/Desktop/Data Science Project/cyclistic-bike-share/data/raw/202304-divvy-tripdata.csv")
data2305 = pd.read_csv("C:/Users/Administrator/Desktop/Data Science Project/cyclistic-bike-share/data/raw/202305-divvy-tripdata.csv")
data2306 = pd.read_csv("C:/Users/Administrator/Desktop/Data Science Project/cyclistic-bike-share/data/raw/202306-divvy-tripdata.csv")
data2307 = pd.read_csv("C:/Users/Administrator/Desktop/Data Science Project/cyclistic-bike-share/data/raw/202307-divvy-tripdata.csv")

# Concatenate all the dataframes into one
df = pd.concat([data2208, data2209, data2210, data2211, data2212, data2301, data2302, data2303, data2304, data2305, data2306, data2307], ignore_index=False)

# Sample 5 random rows from the dataframe
df.sample(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
125611,040BD65CACCBE1A5,electric_bike,2023-06-28 09:23:11,2023-06-28 09:27:40,Kingsbury St & Kinzie St,KA1503000043,Clinton St & Washington Blvd,WL-012,41.889222,-87.638685,41.883380,-87.641170,member
398181,D085175F9368C7E9,electric_bike,2023-06-07 07:49:50,2023-06-07 07:56:24,State St & Pearson St,TA1307000061,Stetson Ave & South Water St,TA1308000029,41.897465,-87.628880,41.886835,-87.622320,member
194909,C15806E66AB5E070,electric_bike,2023-05-22 16:34:54,2023-05-22 16:43:14,NaN,NaN,Sedgwick St & Huron St,TA1307000062,41.880000,-87.640000,41.894666,-87.638437,member
328173,ECB907E0D930955C,electric_bike,2023-04-15 10:43:04,2023-04-15 11:36:58,Calumet Ave & 35th St,13345,Rhodes Ave & 32nd St,13215,41.831390,-87.618012,41.836208,-87.613533,casual
96996,85C69FAE49B28361,classic_bike,2022-12-16 08:12:37,2022-12-16 08:50:08,Sheffield Ave & Webster Ave,TA1309000033,Dearborn St & Adams St,TA1305000005,41.921540,-87.653818,41.879356,-87.629791,member

There is a missing value that needs to be further investigated

# Understand The Data

In [3]:
# Display information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5723606 entries, 0 to 767649
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 611.3+ MB

The "started_at" and "ended_at" columns should be of the datetime data type.

In [4]:
# Calculate the number of unique values in each column of the DataFrame
df.nunique()

ride_id               5723606
rideable_type               3
started_at            4821003
ended_at              4833101
start_station_name       1801
start_station_id         1502
end_station_name         1799
end_station_id           1505
start_lat              782360
start_lng              740459
end_lat                 13868
end_lng                 13983
member_casual               2
dtype: int64

The start_station_id represents the start_station_name, and vice versa, so the number of unique values should be the same for both. The same applies to end_station_id and end_station_name.

# Data Cleaning and Manipulation

## Check Missing Values

In [5]:
# Check for missing values in each column of the dataframe
missing_values = df.isnull().sum()

# Print the count of missing values for each column
print(missing_values)

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    868772
start_station_id      868904
end_station_name      925008
end_station_id        925149
start_lat                  0
start_lng                  0
end_lat                 6102
end_lng                 6102
member_casual              0
dtype: int64

In [6]:
# Calculate the percentage of missing values in each column
missing_percentages = (df.isnull().sum() / len(df)) * 100

# Print the percentage of missing values for each column
print(missing_percentages)

ride_id                0.000000
rideable_type          0.000000
started_at             0.000000
ended_at               0.000000
start_station_name    15.178753
start_station_id      15.181059
end_station_name      16.161280
end_station_id        16.163744
start_lat              0.000000
start_lng              0.000000
end_lat                0.106611
end_lng                0.106611
member_casual          0.000000
dtype: float64

Consider removing rows that contain null values, especially when these null values are not widely distributed.

## Handle Missing Value

In [7]:
# Drop rows with missing values from the DataFrame
df_cleaned = df.dropna()

# Check for any remaining missing values in the cleaned DataFrame
print(df_cleaned.isnull().sum(),df_cleaned.shape)

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64 (4340367, 13)

## Check Duplicated Values

In [8]:
# Calculate the number of duplicated rows in the dataframe
df_cleaned.duplicated().sum()

0

## Data Type Conversion

In [9]:
# Convert 'started_at' column to datetime
df_cleaned['started_at'] = pd.to_datetime(df_cleaned['started_at'])

# Convert 'ended_at' column to datetime
df_cleaned['ended_at'] = pd.to_datetime(df_cleaned['ended_at'])

# Verify the changes
print(df_cleaned[['started_at', 'ended_at']].dtypes)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_20988\2860144393.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['started_at'] = pd.to_datetime(df_cleaned['started_at'])

started_at    datetime64[ns]
ended_at      datetime64[ns]
dtype: object

C:\Users\Administrator\AppData\Local\Temp\ipykernel_20988\2860144393.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['ended_at'] = pd.to_datetime(df_cleaned['ended_at'])

## Check Consistency Data and Outliers

### ride_id

In [10]:
# Calculate the number of unique lengths of ride_id in df_cleaned
df_cleaned['ride_id'].str.len().value_counts()

ride_id
16    4340367
Name: count, dtype: int64

### rideable_type

In [11]:
# Count the number of occurrences of each rideable type in the cleaned dataframe
df_cleaned['rideable_type'].value_counts()

rideable_type
classic_bike     2480774
electric_bike    1733504
docked_bike       126089
Name: count, dtype: int64

### started_at > ended_at

The 'ended_at' value must be greater than the 'started_at' value.

In [12]:
# Check for rows where 'ended_at' is less than 'started_at'
ended_at_less_than_started = df_cleaned[df_cleaned['ended_at'] <= df_cleaned['started_at']]

# display the number of rows where 'ended_at' is less than 'started_at'
print('Number of rows where "ended_at" is less than "started_at":', len(ended_at_less_than_started))

Number of rows where "ended_at" is less than "started_at": 370

In [13]:
# Drop rows where 'ended_at' is less than 'started_at'
df_cleaned = df_cleaned[df_cleaned['ended_at'] >= df_cleaned['started_at']]

# display shape of updated dataframe
print(df_cleaned.shape)

(4340302, 13)

### start_station_id v start_station_name

In [14]:
# Group the dataframe by 'start_station_id' and count the unique 'start_station_name' for each group
start_station_id_group = df_cleaned.groupby('start_station_id')['start_station_name'].nunique().reset_index()

# Filter out the groups where 'start_station_id' has more than one unique 'start_station_name'
multiple_start_station_ids = start_station_id_group[start_station_id_group['start_station_name'] > 1]['start_station_id'].tolist()

# Print the list of 'start_station_id' with more than one unique 'start_station_name'
print('List of start_station_id with more than one start_station_name:\n', multiple_start_station_ids)
print('Number of the result:', len(multiple_start_station_ids))

List of start_station_id with more than one start_station_name:
 ['1032', '1033', '1038', '1039', '13074', '13197', '13259', '15541', '15623', '20133', '303', '335.0', '390', '410', '514', '515', '517', '518', '519', '520', '523', '528', '534', '535', '536', '537', '540', '543', '545', '546', '549', '553', '554', '556', '559', '560', '561', '562', '564', '567', '569', '571', '572', '573', '574', '575', '577', '579', '580', '584', '585', '586', '588', '592', '594', '595', '596', '605', '612', '613', '614', '617', '620', '621', '623', '624', '627', '629', '631', '636', '637', '638', '639', '641', '642', '644', '646', '649', '650', '651', '652', '653', '657', '658', '661', '662', '663', '667', '672', '677', '678', '679', '681', '682', '683', '687', '690', '691', '692', '693', '695', '698', '699', '702', '703', '706', '710', '711', '714', '715', '718', '719', '720', '722', '724', '730', '737', '738', '739', '744', '745', '749', '750', '751', '753', '755', '756', '757', '758', '759', '760', '762', '763', '766', '767', '768', '772', '774', '775', '776', '777', '783', '784', '785', '786', '788', '793', '794', '795', '799', '800', '801', '803', '805', '809', '810', '812', '813', '814', '815', '819', '821', '822', '823', '824', '825', '826', '828', '829', '830', '831', '832', '833', '834', '835', '836', '839', '840', '841', '844', '847', '852', '855', '866', '871', '875', '877', '883', '887', '890', '898', '899', '900', '902', '903', '904', '911', '913', '914', '915', '916', '918', '919', '920', '950', '951', '954', 'DIVVY 001 - Warehouse test station', 'Hubbard Bike-checking (LBS-WH-TEST)', 'KA1503000055', 'KA1504000086', 'KA1504000141', 'KA1504000168', 'TA1306000026', 'TA1308000026', 'TA1309000042', 'chargingstx06', 'chargingstx07']
Number of the result: 218

In [15]:
# Group the data by 'start_station_id' and find the most frequent 'start_station_name'
most_frequent_names = df.groupby('start_station_id')['start_station_name'].agg(lambda x: x.mode().iloc[0])

# replace the 'start_station_id' with the most frequent 'start_station_name' in each start_station_id that has more than one unique 'start_station_name'
df_cleaned['start_station_name'] = df_cleaned['start_station_id'].map(most_frequent_names)

In [16]:
# Recheck by group the dataframe by 'start_station_id' and count the unique 'start_station_name' for each group
start_station_id_group2 = df_cleaned.groupby('start_station_id')['start_station_name'].nunique().reset_index()

# Filter out the groups where 'start_station_id' has more than one unique 'start_station_name'
multiple_start_station_ids2 = start_station_id_group2[start_station_id_group2['start_station_name'] > 1]['start_station_id'].tolist()

# Print the list of 'start_station_id' with more than one unique 'start_station_name'
print('List of start_station_id with more than one start_station_name:\n', multiple_start_station_ids2)
print('Number of the result:', len(multiple_start_station_ids2))

List of start_station_id with more than one start_station_name:
 []
Number of the result: 0

### start_station_name v start_station_id

In [17]:
# Group the dataframe by 'start_station_name' and count the unique 'start_station_id' for each group
start_station_name_group = df_cleaned.groupby('start_station_name')['start_station_id'].nunique().reset_index()

# Filter out the groups where 'start_station_name' has more than one unique 'start_station_id'
multiple_start_station_names = start_station_name_group[start_station_name_group['start_station_id'] > 1]['start_station_name'].tolist()

# Print the list of 'start_station_name' with more than one unique 'start_station_id'
print('List of start_station_name with more than one start_station_id:\n', multiple_start_station_names)
print('Number of the result:', len(multiple_start_station_names))

List of start_station_name with more than one start_station_id:
 ['Jeffery Blvd & 67th St', 'Lake Park Ave & 47th St', 'Wilton Ave & Diversey Pkwy*']
Number of the result: 3

In [18]:
# Group the data by 'start_station_name' and find the most frequent 'start_station_id'
most_frequent_ids = df.groupby('start_station_name')['start_station_id'].agg(lambda x: x.mode().iloc[0])

# replace the 'start_station_name' with the most frequent 'start_station_id' in each start_station_name that has more than one unique 'start_station_id'
df_cleaned['start_station_id'] = df_cleaned['start_station_name'].map(most_frequent_ids)

In [19]:
# Recheck by group the dataframe by 'start_station_name' and count the unique 'start_station_id' for each group
start_station_name_group2 = df_cleaned.groupby('start_station_name')['start_station_id'].nunique().reset_index()

# Filter out the groups where 'start_station_name' has more than one unique 'start_station_id'
multiple_start_station_names2 = start_station_name_group2[start_station_name_group2['start_station_id'] > 1]['start_station_name'].tolist()

# Print the list of 'start_station_name' with more than one unique 'start_station_id'
print('List of start_station_name with more than one start_station_id:\n', multiple_start_station_names2)
print('Number of the result:', len(multiple_start_station_names2))

List of start_station_name with more than one start_station_id:
 []
Number of the result: 0

### end_station_id v end_station_name

In [20]:
# Group the dataframe by 'end_station_id' and count the unique 'end_station_name' for each group
end_station_id_group = df_cleaned.groupby('end_station_id')['end_station_name'].nunique().reset_index()

# Filter out the groups where 'end_station_id' has more than one unique 'end_station_name'
multiple_end_station_ids = end_station_id_group[end_station_id_group['end_station_name'] > 1]['end_station_id'].tolist()

# Print the list of 'end_station_id' with more than one unique 'end_station_name'
print('List of end_station_id with more than one end_station_name:\n', multiple_end_station_ids)
print('Number of the result:', len(multiple_end_station_ids))

List of end_station_id with more than one end_station_name:
 ['1032', '1039', '13074', '13197', '13259', '15541', '15623', '20133', '303', '335.0', '390', '410', '514', '515', '517', '518', '519', '520', '523', '525', '528', '534', '535', '536', '537', '540', '543', '545', '546', '549', '553', '554', '557', '559', '560', '561', '562', '564', '567', '569', '571', '572', '573', '574', '575', '576', '577', '579', '580', '583', '584', '585', '586', '587', '588', '592', '594', '595', '596', '604', '605', '610', '611', '614', '617', '620', '621', '623', '624', '626', '627', '628', '631', '636', '637', '638', '639', '640', '641', '642', '644', '646', '647', '649', '650', '651', '652', '653', '655', '657', '658', '661', '662', '663', '665', '672', '674', '677', '679', '681', '682', '683', '686', '687', '689', '690', '691', '692', '693', '694', '695', '696', '697', '698', '699', '702', '706', '710', '714', '715', '718', '720', '722', '724', '730', '731', '733', '735', '736', '737', '738', '739', '742', '744', '745', '749', '750', '751', '756', '757', '758', '759', '760', '762', '763', '766', '767', '768', '772', '774', '775', '776', '777', '779', '783', '786', '788', '789', '793', '795', '800', '801', '805', '808', '809', '810', '811', '812', '813', '814', '815', '819', '821', '822', '823', '824', '825', '826', '827', '828', '829', '830', '831', '832', '833', '834', '835', '836', '839', '841', '844', '851', '855', '866', '868', '871', '873', '876', '877', '878', '883', '885', '899', '902', '904', '906', '911', '913', '914', '915', '916', '918', '919', '920', '922', '923', '927', '950', '951', '954', 'KA1503000055', 'KA1504000086', 'KA1504000141', 'KA1504000168', 'TA1306000026', 'TA1308000026', 'TA1309000042', 'chargingstx06', 'chargingstx07']
Number of the result: 229

In [21]:
# Group the data by 'end_station_id' and find the most frequent 'end_station_name'
most_frequent_names = df.groupby('end_station_id')['end_station_name'].agg(lambda x: x.mode().iloc[0])

# replace the 'end_station_id' with the most frequent 'end_station_name' in each end_station_id that has more than one unique 'end_station_name'
df_cleaned['end_station_name'] = df_cleaned['end_station_id'].map(most_frequent_names)

In [22]:
# Group the dataframe by 'end_station_id' and count the unique 'end_station_name' for each group
end_station_id_group = df_cleaned.groupby('end_station_id')['end_station_name'].nunique().reset_index()

# Filter out the groups where 'end_station_id' has more than one unique 'end_station_name'
multiple_end_station_ids = end_station_id_group[end_station_id_group['end_station_name'] > 1]['end_station_id'].tolist()

# Print the list of 'end_station_id' with more than one unique 'end_station_name'
print('List of end_station_id with more than one end_station_name:\n', multiple_end_station_ids)
print('Number of the result:', len(multiple_end_station_ids))

List of end_station_id with more than one end_station_name:
 []
Number of the result: 0

### end_station_name v end_station_id

In [23]:
# Group the dataframe by 'end_station_name' and count the unique 'end_station_id' for each group
end_station_name_group = df_cleaned.groupby('end_station_name')['end_station_id'].nunique().reset_index()

# Filter out the groups where 'end_station_name' has more than one unique 'end_station_id'
multiple_end_station_names = end_station_name_group[end_station_name_group['end_station_id'] > 1]['end_station_name'].tolist()

# Print the list of 'end_station_name' with more than one unique 'end_station_id'
print('List of end_station_name with more than one end_station_id:\n', multiple_end_station_names)
print('Number of the result:', len(multiple_end_station_names))

List of end_station_name with more than one end_station_id:
 ['East End Ave & 87th St', 'Jeffery Blvd & 67th St', 'Lake Park Ave & 47th St', 'Lawndale Ave & 111th St', 'Wilton Ave & Diversey Pkwy*']
Number of the result: 5

In [24]:
# Group the data by 'end_station_name' and find the most frequent 'end_station_id'
most_frequent_ids = df.groupby('end_station_name')['end_station_id'].agg(lambda x: x.mode().iloc[0])

# Replace the 'end_station_name' with the most frequent 'end_station_id' in each end_station_name that has more than one unique 'end_station_id'
df_cleaned['end_station_id'] = df_cleaned['end_station_name'].map(most_frequent_ids)

In [25]:
# Group the dataframe by 'end_station_name' and count the unique 'end_station_id' for each group
end_station_name_group = df_cleaned.groupby('end_station_name')['end_station_id'].nunique().reset_index()

# Filter out the groups where 'end_station_name' has more than one unique 'end_station_id'
multiple_end_station_names = end_station_name_group[end_station_name_group['end_station_id'] > 1]['end_station_name'].tolist()

# Print the list of 'end_station_name' with more than one unique 'end_station_id'
print('List of end_station_name with more than one end_station_id:\n', multiple_end_station_names)
print('Number of the result:', len(multiple_end_station_names))

List of end_station_name with more than one end_station_id:
 []
Number of the result: 0

### start_lat

In [26]:
# Check if the latitude values are within the valid range
if df_cleaned['start_lat'].min() >= -90 and df_cleaned['start_lat'].max() <= 90:
    print("Latitude values are consistent.")
else:
    print("Latitude values are inconsistent.")

Latitude values are consistent.

### start_lng

In [27]:
# Check if the longitude values are within the valid range
if df_cleaned['start_lng'].min() >= -180 and df_cleaned['start_lng'].max() <= 180:
    print("Longitude values are consistent.")
else:
    print("Longitude values are inconsistent.")

Longitude values are consistent.

### end_lat

In [28]:
# Check if the latitude values are within the valid range
if df['end_lat'].min() >= -90 and df['end_lat'].max() <= 90:
    print("Latitude values are consistent.")
else:
    print("Latitude values are inconsistent.")

Latitude values are consistent.

### end_lng

In [29]:
# Check if the longitude values are within the valid range
if df_cleaned['end_lng'].min() >= -180 and df_cleaned['end_lng'].max() <= 180:
    print("Longitude values are consistent.")
else:
    print("Longitude values are inconsistent.")

Longitude values are consistent.

## Feature Engineering

In [30]:
# create ride_length column in seconds by subtracting the 'ended_at' from the 'started_at'
df_cleaned['ride_length'] = (df_cleaned['ended_at'] - df_cleaned['started_at']).dt.total_seconds()

# display randomly selected rows
df_cleaned[['started_at', 'ended_at', 'ride_length']].sample(5)

                started_at            ended_at  ride_length
3084   2023-07-03 09:11:17 2023-07-03 09:16:01        284.0
89339  2023-06-29 13:38:03 2023-06-29 13:54:27        984.0
559820 2022-08-13 12:36:54 2022-08-13 13:10:38       2024.0
154739 2022-10-07 20:55:26 2022-10-07 21:19:33       1447.0
242688 2023-04-19 21:43:52 2023-04-19 22:01:20       1048.0

In [31]:
# create day_of_week column from the 'started_at' column
df_cleaned['day_of_week'] = df_cleaned['started_at'].dt.day_name()

# display randomly selected rows
df_cleaned[['started_at', 'day_of_week']].sample(5)

                started_at day_of_week
53002  2023-02-01 19:39:31   Wednesday
428623 2023-07-30 14:15:51      Sunday
413132 2022-08-24 15:41:06   Wednesday
368982 2023-07-08 17:14:38    Saturday
152306 2022-11-02 08:04:16   Wednesday

In [32]:
# create start_time column by categorizing the 'started_at' column by hour
df_cleaned['start_time'] = df_cleaned['started_at'].dt.hour

# display randomly selected rows
df_cleaned[['started_at', 'start_time']].sample(5)

                started_at  start_time
191480 2022-09-24 15:39:00          15
406375 2023-06-22 08:43:01           8
130116 2023-04-27 08:07:14           8
29633  2023-04-06 12:23:18          12
496617 2022-10-27 18:42:27          18

In [43]:
# Assuming your dataframe is named df_cleaned
df_cleaned['trip_distance'] = df_cleaned.apply(lambda row: geodesic((row['start_lat'], row['start_lng']), (row['end_lat'], row['end_lng'])).kilometers, axis=1)

# display randomly selected rows
df_cleaned[['start_lat', 'start_lng', 'end_lat', 'end_lng', 'trip_distance']].sample(5)

        start_lat  start_lng    end_lat    end_lng  trip_distance
268611  41.899930 -87.634430  41.891023 -87.635480       0.993107
258610  41.867906 -87.623044  41.867888 -87.623041       0.002050
164127  41.878061 -87.644230  41.871840 -87.646640       0.719387
108459  41.938429 -87.698008  41.918306 -87.636282       5.586366
268703  41.791478 -87.599861  41.799568 -87.594747       0.994014

In [45]:
# # dataframe to csv on specified path
# df_cleaned.to_csv('C:/Users/Administrator/Desktop/Data Science Project/cyclistic-bike-share/data/processed/df_cleaned.csv', index=False)